.row {
   padding: 10px;
   margin-left: 10px;

   color: white;
}

.row__header {
   margin-bottom: 10px;
   text-transform: uppercase;
}

.posters {
   display: flex;
   object-fit: contain;
   overflow-y: hidden;
   overflow-x: scroll;
}

.poster img {
   height: 250px;
   border-radius: 5px;
   margin-right: 10px;
   transition: all 0.3s;
   /* Add loading gif */
}

.poster__large {
   position: relative;
}
.poster__large img {
   width: 500px;
   height: 95%;
   border-radius: 5px;
   margin-right: 8px;
   z-index: 1;
   /* Add loading gif */
}

.poster__gradient {
   position: absolute;
   z-index: 10;
   height: 50%;
   bottom: 170px;
   width: 500px;
   /* background: linear-gradient(
      180deg,
      rgba(37, 37, 37, 0),
      rgba(37, 37, 37, 0.3),
      rgba(37, 37, 37, 0.6),
      rgba(37, 37, 37, 0.9),
      rgba(37, 37, 37, 1)
   ); */
}

.poster__content {
   z-index: 15;
   color: white;
   position: relative;
   width: 500px;
   height: 170px;
   margin-top: -160px;
   display: flex;
   flex-direction: column;
   align-items: left;
   background-color: rgba(37, 37, 37, 1);
   border-radius: 0px 0px 5px 5px;
}

.poster__content p {
   font-size: 1rem;
   letter-spacing: 2px;
   text-transform: uppercase;
   margin-bottom: 5px;
   /* margin-top: -25px; */
   padding-left: 1.5rem;
   padding-top: 1.5rem;
}

.poster__content h2 {
   font-size: 1.8rem;
   padding-left: 1.5rem;
}

.play__button {
   width: 100%;
   position: absolute;
   bottom: 0;
   height: 80px;
   background-color: blue;
   border-radius: 0px 0px 5px 5px;
   display: flex;
   align-items: center;
   cursor: pointer;
}
.play__button button {
   margin-right: 10px;
   margin-left: 10px;
   color: white;
   background-color: black;
   border: none;
   height: 40px;
   width: 40px;
   border-radius: 50%;
}

.play__button button:focus {
   outline: none;
}

.play__button button i {
   font-size: 1.1rem;
   margin-left: 3px;
   margin-top: 2px;
}
